repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        description: Format Rust files using rustfmt.
        entry: cargo
        args: ['fmt', '--all']
        language: rust
        types: [rust]
        pass_filenames: false

    -   id: clippy
        name: clippy
        description: Check for lints using clippy.
        entry: cargo
        args: ['clippy', '--workspace', '--', '-D', 'warnings']
        language: rust
        types: [rust]
        pass_filenames: false

    -   id: check
        name: cargo-check
        description: Check the package for errors with cargo check.
        entry: cargo
        args: ['check', '--workspace']
        language: rust
        types: [rust]
        pass_filenames: false
